
node_modules/
.pnp/
.pnp.js


coverage/

# ⚙️ קבצי Build
build/
bin/
obj/
*.dll
*.exe
*.pdb
*.mdb

 
.vs/
*.user
*.suo
*.cache
*.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.DS_Store
Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*


_ReSharper*/
*.DotSettings.user


**/Directory.Build.props
*.csproj.user


